<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>{{ page.title | default: site.title }}</title>
  <link rel="stylesheet" href="{% if site.theme_assets %}{{ site.theme_assets | absolute_url }}/css/style.css{% else %}{{ '/assets/css/style.css' | absolute_url }}{% endif %}">
  <link rel="stylesheet" href="{% if site.theme_assets %}{{ site.theme_assets | absolute_url }}/css/rouge-github-auto.css{% else %}{{ '/assets/css/rouge-github-auto.css' | relative_url }}{% endif %}">
  <link rel="stylesheet" href="{% if site.theme_assets %}{{ site.theme_assets | absolute_url }}/css/github-markdown.css{% else %}{{ '/assets/css/github-markdown.css' | relative_url }}{% endif %}">

  <script src="https://unpkg.com/sober@0.6.8/dist/sober.min.js"></script>

  <script src="{% if site.theme_assets %}{{ site.theme_assets | absolute_url }}/js/sobekyll.js{% else %}{{ '/assets/js/sobekyll.js' | relative_url }}{% endif %}"></script>
</head>

<body>
  <s-page theme="auto">
    <s-drawer id="drawer">
      {% include slide-panel.html %}
      <main>
        {% include header.html %}
        <s-scroll-view>
          <div style="height: 100%; display: flex; flex-direction: column;">
            <div class="content">
              {{ content }}
            </div>
            {% include footer.html %}
          </div>
        </s-scroll-view>
      </main>
    </s-drawer>
  </s-page>
</body>

</html>