---
layout: default
---
<ul style="list-style: none; padding: 0; margin: 0; flex: 1;">
  {% for post in paginator.posts %}
  {% include post-item.html post=post %}
  {% endfor %}
</ul>

<div class="pagination">
  {% if paginator.previous_page %}
  <s-icon-button>
    <s-icon type="chevron_left" onclick="window.open('{{ paginator.previous_page_path }}', '_self')"></s-icon>
  </s-icon-button>
  {% endif %}

  <div class="pagination-indexing">
    {% for page in (1..paginator.total_pages) %}
    {% assign page_link = paginator.base_path | append: '/' %}
    {% if page != 1 %}
      {% assign page_link = page_link | append: 'page' | append: page %}
    {% endif %}
    {% if page == paginator.page %}
    <span style="margin: 8px; font-weight: bolder;">{{ page }}</span>
    {% else %}
    <s-ripple style="border-radius: 4px;" onclick="window.open('{{ page_link }}', '_self')">
      <span style="margin: 8px;">{{ page }}</span>
    </s-ripple>
    {% endif %}
    {% endfor %}
  </div>

  {% if paginator.next_page %}
  <s-icon-button>
    <s-icon type="chevron_right" onclick="window.open('{{ paginator.next_page_path }}', '_self')"></s-icon>
  </s-icon-button>
  {% endif %}
</div>