:root {
    --border-width: max(1px, 0.0625rem);
}

/* 基础样式 */
html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
}

s-page {
    display: flow-root;
    height: 100%;
}

.author {
    width: 100%;
    height: auto; /* 适应内容高度 */
    padding: 16px; /* 为小屏幕添加内边距 */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.author-avatar {
    width: 60px; /* 缩小头像以适应移动端 */
    height: 60px;
    border: 1px var(--s-color-outline-variant) solid;
    border-radius: 50%; /* 保持圆形 */
    object-fit: cover;
}

.author-name {
    margin-top: 8px;
    font-weight: bold;
    font-size: 1rem; /* 缩小字体 */
}

main {
    display: flex;
    flex-direction: column;
}

.app-bar-title {
    font-weight: bold;
    text-decoration: none;
    font-size: 1.25rem; /* 确保标题清晰 */
}

.app-bar-action {
    border-radius: 4px;
    padding: 8px; /* 增加触控区域 */
}

main s-scroll-view {
    width: 100%;
    flex-grow: 1;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 16px; /* 减少内边距以适配小屏 */
}

.post-item {
    margin-bottom: 16px; /* 减小间距 */
    border-bottom: var(--border-width) solid var(--s-color-outline-variant);
    padding-bottom: 8px; /* 添加间距以区分内容 */
}

.post-item-title {
    color: var(--color-on-background);
    text-decoration: none;
    font-size: 1.25rem; /* 调整标题大小 */
}

.post-item h3 {
    font-size: 1.25rem;
    margin: 0;
}

.post-meta {
    font-size: 0.875rem; /* 缩小字体 */
    color: gray;
}

.post-meta a {
    font-weight: bold;
    color: var(--color-on-surface-variant);
    text-decoration: none;
}

.post-excerpt {
    font-size: 1rem;
    margin-top: 8px;
}

.pagination {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 8px; /* 增加触控区域 */
}

.pagination-indexing {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

article {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.post-content {
    max-width: 100%;
    flex: 1;
    border-top: var(--border-width) solid var(--s-color-outline-variant);
    border-bottom: var(--border-width) solid var(--s-color-outline-variant);
}

.markdown-body {
    background-color: transparent;
    min-height: 0px;
}

.highlight {
    border-radius: 8px;
    padding: 4px;
    margin-bottom: 8px;
}

footer a {
    text-decoration: none;
    font-weight: bold;
    color: var(--color-on-surface-variant);
}