<li class="post-item">
    <h3><a class="post-item-title" href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
    <div class="post-excerpt">
        <div class="markdown-body" style="background-color: transparent; min-height: 0px;">
            {{ post.excerpt }}
        </div>
    </div>
    <p class="post-meta">
        {% include time.html date=post.date %}
        {% if post.tags and post.tags.size > 0 %}
        <s-icon style="width: 20px; height: 20px; margin-left: 8px;">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                <path
                    d="m240-160 40-160H120l20-80h160l40-160H180l20-80h160l40-160h80l-40 160h160l40-160h80l-40 160h160l-20 80H660l-40 160h160l-20 80H600l-40 160h-80l40-160H360l-40 160h-80Zm140-240h160l40-160H420l-40 160Z">
                </path>
            </svg>
        </s-icon>
        {% for tag in post.tags %}
        <a href="/tag/{{ tag | slugify }}">{{ tag }}</a>
        {% endfor %}
        {% endif %}

        {% if post.categories and post.categories.size > 0 %}
        <s-icon style="width: 20px; height: 20px; margin-left: 8px;">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                <path d="m260-520 220-360 220 360H260ZM700-80q-75 0-127.5-52.5T520-260q0-75 52.5-127.5T700-440q75 0 127.5 52.5T880-260q0 75-52.5 127.5T700-80Zm-580-20v-320h320v320H120Zm580-60q42 0 71-29t29-71q0-42-29-71t-71-29q-42 0-71 29t-29 71q0 42 29 71t71 29Zm-500-20h160v-160H200v160Zm202-420h156l-78-126-78 126Zm78 0ZM360-340Zm340 80Z"></path>
              </svg>
        </s-icon>
        {% for category in post.categories %}
        <a href="/category/{{ category | slugify }}">{{ category }}</a>
        {% endfor %}
        {% endif %}
    </p>
</li>